body{
    font-family: 'Moon Dance', cursive;
    font-family: 'Poppins', sans-serif;
    padding-left: 50px;
    padding-block-start: 40px;
    padding-right: 50px;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1{
    font-size: 40px;
}
h2{
    text-align: center;
    font-size: 30px;
    padding: 10px;
}
h3{
    font-size: 20px;
}
p{
    font-size: 10px;
    padding: 5px;
}
#scroll{
    padding-top: 20px;
}
.orange{
        color: chartreuse;
    }
    .yellow{
        color: green;
    }
.profile{
        display: flex;
        margin-bottom: 100px;
        width: 100%;
    }
.half-width{
        width: 50%;
        padding: 2%;
    }
.half-width img{
    width: 50%;
    }
.border{    
    border-image: linear-gradient(salmon,tomato);
    border-image-slice: 1;
    border-left: 7px solid;
}
.batton{
    font-size: 15px;
    background-image: linear-gradient(tomato);
    text-decoration: none;
    background: palegreen;
    padding: 5px 10px;
    margin: 20px 0;

}
.purpose{
    display: flex;
    padding: 10px 0;
}
.mission-area{
    width: 30%;
    padding: 2%;
    margin: 0 2%;
    height: 300px;
    border-radius: 20px;
}
.mission-area img{
    width: 50%;
}
#mission{
    background-color: limegreen;
}
#vission{
    background-color: lightcoral;
}
#goals{
    background-color: maroon;
}

    